<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="param" value="Capgemini"></parameter>
<parameter name="username" value="Muthu"></parameter>
  <test thread-count="5" name="No Commonsense Test">
    <classes>
      <class name="tetngclasses.AnnotationParameters"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
